
section {
    margin: 0 auto;
}

.block {
    min-height: 150px;
    border: 3px solid black;
}

.col-20 {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 15px;
    margin-bottom: 24px;
}

.footer .block {
    min-height: 80px;
    border: 3px solid black;
    margin-bottom: 15px;
}


@media screen and (max-width: 767px) {
    .col-20 {
        flex: 0 0 100%;
    }
}
